---
import AvatarImage from "@/components/AvatarImage.astro";
import PostImage from "@/components/PostImage.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import BlogLayout from "@/layouts/BlogLayout.astro";
import { formatDate } from "@/utils/date";
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection, getEntry } from "astro:content";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { title, description, image, date } = post.data;

// console.log("post:", post);

const { Content, headings } = await post.render();
const authorEntry = await getEntry("author", post.data.author.id);
const author = authorEntry?.data ?? null;
---

<BlogLayout title={title}>
  <article class="blog-content">
    <!-- Autor -->
    {
      author && (
        <div class="mt-12 flex items-center gap-x-4">
          {/*   <div class="w-10 h-10 shrink-0 relative aspect-square">
            {author.avatar ? (
              <Image
                src={author.avatar}
                alt={author.name}
                class="w-full h-full rounded-full object-cover avatar-img"
                width={40}
                height={40}
                loading="lazy"
              />
            ) : (
              <img
                src="/assets/images/avatar-default.jpg"
                alt={author.name}
                class="w-10 h-10 rounded-full bg-gray-800 object-cover"
                width="40"
                height="40"
                loading="lazy"
              />
            )}
          </div> */}

          <AvatarImage
            src={author.avatar}
            alt={author.name}
            size="md"
           /*  className="avatar-img" */
            quality="mid"
            loading="lazy"
          />

          <div class="flex-1">
            <a href={`/blog/${authorEntry?.id}`} class="text-sm font-medium text-white leading-tight">
              {author.name}
            </a>
            <div class="text-xs text-gray-400">
              Publicado el{/*  {new Date(date).toLocaleDateString("es-ES", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })} */}
              {
                formatDate(date)
              }
            </div>
          </div>
        </div>
      )
    }

    <!-- Image -->

    {
      (
        /*   image ? (
        <Image
          src={image}
          alt={title}
          class="w-full rounded-xl bg-gray-800 object-cover aspect-[16/9] mb-6"
          width={800}
          height={450}
          quality="mid"
          loading="lazy"
        />
      ) : (
        <img
          src="https://thumbs.dreamstime.com/b/no-thumbnail-image-placeholder-forums-blogs-websites-148010362.jpg"
          alt={title}
          class="w-full rounded-xl bg-gray-800 object-cover aspect-[16/9] mb-6"
          width="800"
          height="450"
          loading="lazy"
        />
      ) */

        <PostImage
          src={image}
          alt={title}
          className="w-full rounded-sm object-cover aspect-[16/9] mb-6 h-48"
          quality="high"
        />
      )
    }

    <!-- Table de contenidos -->
    {
      headings.length > 0 && (
        <nav class="toc">
          <h3 class="toc-title">Tabla de contenidos</h3>
          <ol class="toc-list">
            {headings.map((heading, index) => (
              <li class="toc-item" style={`--level:${heading.depth}`}>
                <a href={`#${heading.slug}`}>
                  {index + 1}. {heading.text}
                </a>
              </li>
            ))}
          </ol>
        </nav>
      )
    }

    <!-- Contenido -->
    <Content />
  </article>

  <ScrollToTop threshold={300} />
</BlogLayout>

<style>
 /*  @reference '@/styles/global.css';

  .avatar-img {
    margin-block: 0; 
    display: block; 
  }
 */
  /* @reference 'tailwindcss';


:global(.blog-content h1) {
  @apply text-4xl font-extrabold mb-6 text-white;
}

:global(.blog-content h2) {
  @apply text-3xl font-bold mt-10 mb-4 text-gray-100;
}

:global(.blog-content h3) {
  @apply text-2xl font-semibold mt-6 mb-3;
}

:global(.blog-content p) {
  @apply my-4 text-gray-300;
}

:global(.blog-content a) {
  @apply text-pink-500 underline hover:text-pink-400;
}

:global(.blog-content img) {
  @apply w-full rounded-xl my-6 shadow-lg;
}

:global(.blog-content pre) {
  @apply bg-gray-800 text-green-400 p-4 rounded-lg overflow-x-auto my-6;
}

:global(.blog-content code) {
  @apply bg-gray-700 text-pink-400 px-1 py-0.5 rounded text-sm;
}

:global(.blog-content blockquote) {
  @apply border-l-4 border-blue-500 pl-4 italic text-gray-400 my-6;
} */
</style>
